<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <!-- safari 9 bug fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <!--stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <!--search engines-->
  <!--open graph & social-->

  <!--fav-->
  <!-- scripts -->
</head>

<body>
  <header class="page-header navbar-top">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">nav</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="#"><span class="hidden">Школа лидеров</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#about">О программе</a></li>
            <li><a href="#couchers">Тренеры</a></li>
            <li><a href="#modules">Модули</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section id="top" class="section container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <div class="container">
            <h1 class="page-title">Выведи свой бизнес на <br> <span> новый</span> уровень</h1>
            <a href="#" class="btn btn-lg btn-yellow">Записаться на курс!</a>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="section container-fluid">
      <div class="row">
        <div class="container">
          <p class="text-heavy">Уважаемые участники,</p>
          <p class="text">Мы рады вас приветствовать на программе «Школа лидеров» и на поддерживающей платформе для этой программы. Мы надеемся, что эта программа поможет вам найти области и инструменты для небольших изменений, которые приведут к большим результатам.</p>
          <p class="text">Мы искренне призываем вас быть открытыми к новым инструментам и знаниям, делиться опытом с участниками программы, тренерами программы и коллегами по работе, задавать вопросы и пробовать применять полученные знания на практике. Мы уверены, что
            это поможет вам сделать обучение эффективным и действительно найти области для изменений, стать более эффективными и получать больше удовольствия от каждого дня и каждой рабочей задачи.</p>
          <p class="text">На платформе вы сможете увидеть все модули программы, информацию про тренеров, которые будут эту программу проводить, все материалы к тренингам и дополнительные материалы по темам, а также вы можете смело задавать дополнительные вопросы в общем
            чате.</p>
          <p class="text text-last">Желаем вам удачи в программе! <br>Команда CBSD</p>
          <a href="#" class="btn btn-lg btn-blue">Карта курса</a>
        </div>
      </div>
    </section>
    <section id="couchers" class="section container-fluid">
      <div class="jcarousel-wrapper container">
        <h2 class="section-header">Тренеры курса</h2>
        <div class="jcarousel">
          <ul>
            <li>
              <img src="images/coucher1.png" alt="Image 1">
              <p class="couch-name">Мария Работнова</p>
              <p class="couch-occupation">Тренер модуля №1 <br> "Ситуационное руководство SLX"</p>
            </li>
            <li>
              <img src="images/coucher2.png" alt="Image 2">
              <p class="couch-name">Сергей Ясаков</p>
              <p class="couch-occupation">Тренер модуля №2 <br> "Оптимальная мотивация"</p>
            </li>
            <li>
              <img src="images/coucher3.png" alt="Image 3">
              <p class="couch-name">Андрей Венедиктов</p>
              <p class="couch-occupation">Куратор программы <br> "Школа Лидеров"</p>
            </li>
            <li>
              <img src="images/coucher4.png" alt="Image 4">
              <p class="couch-name">Ася Городецкая</p>
              <p class="couch-occupation">Тренер модуля<br> "Закрывающая сессия"</p>
            </li>
            <li>
              <img src="images/coucher1.png" alt="Image 4">
              <p class="couch-name">Мария Работнова</p>
              <p class="couch-occupation">Тренер модуля<br> "Закрывающая сессия"</p>
            </li>
          </ul>
        </div>
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        <p class="jcarousel-pagination"></p>
      </div>
    </section>
    <section id="modules" class="section container-fluid">
      <div class="container">
        <h2 class="section-header">Модули</h2>
        <div class="masonry">
          <div class="masonry-active">
            <img src="./images/masonry1.png" alt="">
            <div class="masonry-description">
              <h5 class="masonry-title">Установочный вебинар</h5>
              <p class="masonry-text">Часовая онлайн сессия на которой куратор программы Андрей Венедиктов расскажет о программе вцелом.</p>
              <ul class="masonry-list">
                <span class="masonry-list__title">Даты вебинаров</span>
                <li>2 апреля - в 17:00 ч</li>
                <li>4 апреля - в 17:00 ч</li>
              </ul>
              <a href="#" class="masonry-link">Дополнительные материалы</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="masonry" class="grid js-masonry">
            <div class="grid-sizer"></div>
            <div class="grid-item masonry1">
              <h4>Модуль 3 <br> Руководство командой</h4>
            </div>
            <div class="grid-item--height2 masonry7"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item masonry2"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item--height2 masonry8"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item masonry3"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item masonry4"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item--width2 masonry5"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="grid-item--width2 masonry6"><h4>Модуль 3 <br> Руководство командой</h4></div>
            <div class="layout"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer">
    <div class="container navbar-bottom">
      <div class="navbar-brand"></div>
      <nav class="navbar">
        <ul>
          <li><a href="#top">Главная</a></li>
          <li><a href="#modules">Модули</a></li>
          <li><a href="#couchers">Тренеры</a></li>
          <li><a href="#about">О программе</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <!--scripts-->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.7/jquery.jcarousel.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  <script>
    //   var $grid = $('.grid').masonry();
    // // change size of item by toggling gigante class
    // $grid.on( 'click', '.grid-item', function() {
    //   $(this).toggleClass('gigante');
    //   // trigger layout after item size changes
    //   $grid.masonry('layout');
    // });
  </script>
</body>

</html>
