<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
    <!-- safari 9 bug fix --><meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!--stylesheets-->

    <!--search engines-->
    <!--open graph & social-->

    <!--fav-->
    <!-- scripts -->
  </head>
  <body>
    <header>
      <h1 class="test">Test</h1>
    </header>
    <main>
    </main>
    <footer>
    </footer>
    <!--scripts-->

  </body>
</html>
