.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: none;
    overflow: visible;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    text-align: center;
}

.jcarousel img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    // margin-left: 15px;
    // margin-right: 15px;
    height: auto !important;
}
.jcarousel li .couch-name{
  color: #0082c0;
  font-family: 'LatoWebLight';
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.jcarousel li .couch-occupation{
  font-family: 'LatoWebLight';
  font-weight: 700;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffc627;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    // font-family: Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #ffc627;
    &:hover, &:focus{
      color: #0082c0;
      border: 1px solid #0082c0;
      text-decoration: none;
    }
}

.jcarousel-control-prev {
    left: -15px;
}

.jcarousel-control-next {
    right: -15px;
}
.jcarousel-pagination{
  display: none;
}
